body {
    display: flex;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    border: #4CAF50 solid 2px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    height: 500px;
    width: 400px;
}

.btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

